// Background página
$cfondo: rgba(43, 167, 212, .1);

// colores botones menu
$cbtngrad1: #ffcdd9;
$cbtngrad2: #e6adb7;
$chovbtngrad1: #d896a2;
$chovbtngrad2: #f7bdca;
$cbtntexto: #0c73b8;

// fondo tarjeta
$cbgtargeta: rgba(43, 168, 212, .1);

// fondo texto artículos, media y form
$cbgmedia:#c4cfff;

// boton form
$cformbtntext:#1c1c1c;
$cformbtnbg: #35d366;

// footer
$cfooterbg: rgba(24, 119, 242, .1);
$cface:#1877f2;
$cinsta: #e1306c; 
$cgoogle:#4285f4;
$cwapp:#25d366;
$cmail:#ea4335;

