@mixin imagenes () {
    width: 100%;
    border-radius: 5px;
    border: #000 solid 2px;
    box-shadow: -7px -7px 10px #000;
    margin: 20px auto;

}
// Hice un simple, porque no se me ocurrio como hacer uno mas complejo like a pro jaja, y estoy con poco tiempo... 