body {
    background-color: $cfondo;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.main__titulo{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    opacity: 0.8;
    margin-top: 1em;
}