@media screen and (max-width: 920px) {
    .header {
        flex-direction: column;
        align-items: center;

        .header__logo-pc {
            vertical-align: bottom;
        }
    }


    .header__menu {
        ul {
            margin-top: -2.5rem;

            li {
                margin: 1em 1em;
            }
        }
    }


    .main {

        .imagenes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 10px 10px;
        }

        .videos {
            display: none;
        }

        .formulario .googleForm a {
            font-size: 1em;
        }
    }

}

@media screen and (max-width: 786px) {
    .main {
        .video__card {
            width: 100%;
            text-align: center;
        }
    }

}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: row;
        justify-content: space-evenly;



        .header__menu {
            ul {
                display: inline-block;
                margin-top: 0;

                li {
                    margin: 0;
                    list-style: circle;

                    a {
                        padding: 0.35em;
                        font-size: 0.75em;
                        line-height: 1em;
                    }
                }
            }
        }
    }

    .main {
        section {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;

            .pages {
                width: 75%;
            }
        }

        .imagenes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);
            gap: 10px 10px;
        }

    }

    .footer {
        background-color: inherit;

        .footer__iconos ul {
            flex-direction: column;
            align-items: center;
            margin-left: -2em;
        }

        .footer__iconos {
            border-top: 3px solid #000;

            ul li a i {
                font-size: 2em;
                /* margin: 5px; */
                padding: 5px;
                // margin: -30px;
            }
        }

        .footer__contacto {
            flex-direction: column-reverse;
        }

        .footer__contacto--qr {
            height: 5em;
            justify-content: center;
        }

        .googleForm a {
            display: flex;
            flex-direction: column;
        }
    }
}
